<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <!-- Brand/logo -->
        <a class="navbar-brand" routerLink="/">Sample</a>
        
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>
          <li class="nav-item" *ngIf="!layoutService.isLogined">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item dropdown" *ngIf="layoutService.isLogined">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Demo
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="layoutService.logout()">Logout</a>
            </div>
          </li>
        </ul>
    </div>
  </nav>