<div class="card w-25 mx-auto mt-5">
    <div class="card-body">
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="email" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" placeholder="Enter password" [(ngModel)]="pass" id="pwd">
            </div>
            <button type="submit" (click)="login()" class="btn btn-primary btn-block">Login</button>
          <div class="mt-3">
              <p class="mb-0">Email: demo@gmail.com</p>
              <p class="mb-0">Pass: demo</p>
          </div>
    </div>
  </div>